# Cache do Python
__pycache__/
*.pyc

# Ambiente Virtual
venv/
.venv/

# Banco de Dados LOCAL (Ajustado para o seu nome de arquivo)
instance/
papelaria.db

# Uploads (Mantém a estrutura da pasta, mas ignora as fotos salvas)
app/static/uploads/logos/*
!app/static/uploads/logos/.gitkeep

# Arquivos do VS Code ou IDE
.vscode/
.env